.about {
	padding: 10rem 5rem;
	margin-top: 7rem;
	width: 100%;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

	&__container {
		display: flex;
		align-items: center;
		padding-bottom: 5rem;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	&__picture {
		flex: 0 0 20%;
		padding: 3rem;

		&--profile-picture {
			height: 20rem;
			width: 20rem;
			border-radius: 50%;
		}
	}

	&__text {
		flex: 1;
		padding: 3rem;
		max-width: 100rem;
		font-size: 1.6rem;
	}
}
