.about {
	width: 100%;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

	@media only screen and (max-width: 81.88em) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
	}

	@media only screen and (max-width: 64em) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 81%, 0 100%);
	}

	@media only screen and (max-width: 56.88em) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
	}

	@media only screen and (max-width: 50em) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	}

	@media only screen and (max-width: 37.5em) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
	}

	@media only screen and (max-width: 28em) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 95.5%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 95.5%, 0 100%);
	}

	@media only screen and (max-width: 22.5em) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 96.2%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 96.2%, 0 100%);
	}

	&__container {
		display: flex;
		align-items: center;
		padding-bottom: 5rem;
		justify-content: space-evenly;
		flex-wrap: wrap;
		padding: 5rem 0 20rem 0;

		@media only screen and (max-width: 50em) {
			flex-direction: column;
		}
		@media only screen and (max-width: 28em) {
			flex-direction: column;
			padding: 0rem 0 7rem 0;
			align-items: center;
			justify-content: center;
		}
	}

	&__picture {
		//flex: 0 0 20%;
		padding: 3rem;
		margin: 3rem 3rem 0 3rem;

		&--profile-picture {
			height: 20rem;
			width: 20rem;
			border-radius: 50%;
		}
	}

	&__text {
		flex: 1;
		padding: 3rem;
		margin: 0 3rem 3rem 3rem;
		max-width: 100rem;
		min-width: 25rem;
		font-size: 1.6rem;
	}
}
