.about {
	//height: 60rem;
	//width: 100%;
	padding: 10rem 5rem;
	margin-top: 7rem;
	//margin-bottom: -10rem;

	-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

	&__container {
		display: flex;
		align-items: center;
		padding-bottom: 5rem;
	}

	&__picture {
		flex: 0 0 20%;
		padding: 3rem;

		&--profile-picture {
			height: 20rem;
			width: 20rem;
			border-radius: 50%;
		}
	}

	&__text {
		flex: 1;
		padding: 3rem;

		font-size: 1.6rem;
	}
}
