.cards {
	-webkit-clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
	clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	margin-top: -4rem;

	@media only screen and (max-width: 81.88em) {
		-webkit-clip-path: polygon(0 4.5%, 100% 0, 100% 95%, 0 100%);
		clip-path: polygon(0 4.5%, 100% 0, 100% 95%, 0 100%);
	}

	@media only screen and (max-width: 56.88em) {
		-webkit-clip-path: polygon(0 3%, 100% 0, 100% 96.8%, 0 100%);
		clip-path: polygon(0 3%, 100% 0, 100% 96.8%, 0 100%);
	}

	@media only screen and (max-width: 46.06em) {
		-webkit-clip-path: polygon(0 3.7%, 100% 0, 100% 96.8%, 0 100%);
		clip-path: polygon(0 3.7%, 100% 0, 100% 96.8%, 0 100%);
	}

	@media only screen and (max-width: 28em) {
		-webkit-clip-path: none;
		clip-path: none;
		margin-top: 0;
	}
}

.projects {
	padding-bottom: 2rem;
	@media only screen and (max-width: 56.88em) {
		padding-top: 4rem;
	}

	& h1 {
		margin-bottom: 0;
	}
}

.card-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100% !important;

	&__row {
		display: flex;

		flex-wrap: wrap;
		justify-content: center;
	}
}

.card {
	//FUNCTIONALITY
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: 52rem;
	width: 30rem;
	margin: 3rem 3rem 3rem 3rem;

	@include media(tab-port) {
		width: 50rem;
	}

	&__side {
		height: 52rem;
		transition: all .8s ease;
		font-size: 2rem;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		backface-visibility: hidden;
		border-radius: 3px;
		box-shadow: var(--shadow-light);
		overflow: hidden;

		&--front {
			background-color: var(--color-grey-light-1);
		}

		&--back {
			transform: rotateY(180deg);

			&-1 {
				background-image: linear-gradient(to right bottom, rgba($yellow, .3), var(--yellow));
			}
			&-2 {
				background-image: linear-gradient(to right bottom, rgba($light-blue, .3), var(--light-blue));
			}
			&-3 {
				background-image: linear-gradient(to right bottom, rgba($orange, .3), var(--orange));
			}
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0);
	}

	//FRONT SIDE STYLING
	&__picture {
		background-size: cover;
		height: 23rem;
		background-blend-mode: screen;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;

		&--1 {
			background-image: linear-gradient(to right bottom, rgba($yellow, .3), var(--yellow)), url(images/webdev.jpg);
		}

		&--2 {
			background-image: linear-gradient(to right bottom, rgba($light-blue, .3), var(--light-blue)),
				url(images/webdev.jpg);
		}

		&--3 {
			background-image: linear-gradient(to right bottom, rgba($orange, .3), var(--orange)), url(images/webdev.jpg);
		}
	}
	&__heading {
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: right;
		color: var(--color-grey-light-1);
		position: absolute;
		top: 15rem;
		right: 2rem;
		width: 90%;
	}

	&__heading-span {
		padding: 1rem 1.5rem;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;
		&--1 {
			background-image: linear-gradient(to right bottom, rgba($yellow, .3), rgba($yellow, .85));
		}
		&--2 {
			background-image: linear-gradient(to right bottom, rgba($light-blue, .3), rgba($light-blue, .85));
		}
		&--3 {
			background-image: linear-gradient(to right bottom, rgba($orange, .3), rgba($orange, .85));
		}
	}

	&__details {
		padding: 3rem;
		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;

			li {
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;
			}
		}
	}
	//BACK SIDE STYLING
	&__cta {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		text-align: center;
	}

	&__price-box {
		text-align: center;
		margin-bottom: 8rem;
		color: var(--color-grey-light-1);
	}

	&__price-only {
		font-size: 1.4;
		text-transform: uppercase;
	}

	&__price-value {
		font-size: 6rem;
		font-weight: 100;
	}

	@include media(tab-port) {
		height: auto;
		border-radius: 3px;
		background-color: var(--color-grey-light-1);
		box-shadow: var(--shadow-light);

		&__side {
			height: auto;
			font-size: 2rem;
			position: relative;
			box-shadow: none;

			&--back {
				transform: rotateY(0);
				-webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
				clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
			}
		}

		&:hover &__side--front {
			transform: rotateY(0);
		}

		&__details {
			padding: 1rem 3rem;
		}

		//BACK SIDE STYLING
		&__cta {
			position: relative;
			top: 0%;
			left: 0%;
			transform: translate(0);
			width: 100%;
			padding: 3rem 2rem;
		}

		&__price-box {
			margin-bottom: 2rem;
		}

		&__price-value {
			font-size: 6rem;
		}
	}

	@include media(phone) {
		height: auto;
		border-radius: 3px;
		background-color: var(--color-grey-light-1);
		box-shadow: var(--shadow-light);

		&__side {
			height: auto;
			font-size: 2rem;
			position: relative;
			box-shadow: none;

			&--back {
				transform: rotateY(0);
				-webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
				clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
			}
		}

		&:hover &__side--front {
			transform: rotateY(0);
		}

		&__details {
			padding: 1rem 3rem;
		}

		//BACK SIDE STYLING
		&__cta {
			position: relative;
			top: 0%;
			left: 0%;
			transform: translate(0);
			width: 100%;
			padding: 3rem 2rem;
		}

		&__price-box {
			margin-bottom: 2rem;
		}

		&__price-value {
			font-size: 6rem;
		}
	}
}
