.projects {
	display: flex;
	justify-content: center;
	transform: skewY(7deg);
}

.card-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	transform: skewY(7deg);
	margin-bottom: 10rem;
	height: 100%;
	flex-wrap: wrap;
}

.card {
	//FUNCTIONALITY
	perspective: 150rem; //we add the perspective on the parent element for the rotate. the high number is required but unclear why.
	-moz-perspective: 150rem; //adds compatibility with mozzila firefox
	position: relative;
	height: 52rem; //this prevents this elements hight from colapsing when using position absolute
	width: 30rem;
	margin: 6rem 0;

	&__side {
		height: 52rem;
		transition: all .8s ease;
		font-size: 2rem;
		position: absolute; //this applies to both front and back and places them on top of each other.
		top: 0;
		left: 0;
		width: 100%; //postion absolute makes the width the size of the content of the div. Here we set it back to 100% of parent div
		backface-visibility: hidden; //this hides the backside upon rotation which cause the back element to show up
		border-radius: 3px;
		box-shadow: var(--shadow-light);
		overflow: hidden; //because the image pops out of the side element we hide that to keep the rounded corners
		//this actually doesnt work when using clip-path... grrr

		&--front {
			background-color: var(--color-grey-light-1);
		}

		&--back {
			transform: rotateY(180deg);

			&-1 {
				background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
			}
			&-2 {
				background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark));
			}
			&-3 {
				background-image: linear-gradient(to right bottom, var(--color-tertiary-light), var(--color-tertiary-dark));
			}
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0);
	}

	//FRONT SIDE STYLING
	&__picture {
		background-size: cover;
		height: 23rem; //since this element has no html content the size needs to be set
		background-blend-mode: screen; //this blends the gradient with the image. this can only be done on background images in css not on html image elements
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
		border-top-left-radius: 3px;
		border-top-right-radius: 3px; //this adds the rounded corners again after clip-path

		&--1 {
			background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)),
				url(images/webdev.jpg);
		}

		&--2 {
			background-image: linear-gradient(to right bottom, var(--color-secondary-light), var(--color-secondary-dark)),
				url(images/webdev.jpg);
		}

		&--3 {
			background-image: linear-gradient(to right bottom, var(--color-tertiary-light), var(--color-tertiary-dark)),
				url(images/webdev.jpg);
		}
	}
	&__heading {
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: right;
		color: var(--color-grey-light-1);
		position: absolute;
		top: 12rem;
		right: 2rem;
		width: 75%;
	}

	&__heading-span {
		padding: 1rem 1.5rem;
		-webkit-box-decoration-break: clone; //with this the one span gets treated as two seperate lines. bad support so use webkit
		box-decoration-break: clone;
		&--1 {
			background-image: linear-gradient(
				to right bottom,
				rgba(var(--color-primary-light), .85),
				rgba(var(--color-primary-dark), .85)
			);
		}
		&--2 {
			background-image: linear-gradient(
				to right bottom,
				rgba(var(--color-secondary-light), .85),
				rgba(var(--color-secondary-dark), .85)
			);
		}
		&--3 {
			background-image: linear-gradient(
				to right bottom,
				rgba(var(--color-tertiary-light), .85),
				rgba(var(--color-tertiary-dark), .85)
			);
		}
	}

	&__details {
		padding: 3rem;
		ul {
			list-style: none;
			width: 80%;
			margin: 0 auto;

			li {
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;

				&:not(:last-child) {
					border-bottom: 1px solid var(--color-gray-light-2);
				}
			}
		}
	}
	//BACK SIDE STYLING
	&__cta {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 90%;
		text-align: center;
	}

	&__price-box {
		text-align: center;
		margin-bottom: 8rem;
		color: var(--color-grey-light-1);
	}

	&__price-only {
		font-size: 1.4;
		text-transform: uppercase;
	}

	&__price-value {
		font-size: 6rem;
		font-weight: 100;
	}

	@include media(tab-port) {
		height: auto;
		border-radius: 3px;
		background-color: var(--color-grey-light-1);
		box-shadow: var(--shadow-light);

		&__side {
			height: auto;
			font-size: 2rem;
			position: relative;
			box-shadow: none;

			&--back {
				transform: rotateY(0);
				-webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
				clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
			}
		}

		&:hover &__side--front {
			transform: rotateY(0);
		}

		&__details {
			padding: 1rem 3rem;
		}

		//BACK SIDE STYLING
		&__cta {
			position: relative;
			top: 0%;
			left: 0%;
			transform: translate(0);
			width: 100%;
			padding: 7em 4rem 4rem 4rem;
		}

		&__price-box {
			margin-bottom: 2rem;
		}

		&__price-value {
			font-size: 6rem;
		}
	}

	@include media(phone) {
		height: auto;
		border-radius: 3px;
		background-color: var(--color-grey-light-1);
		box-shadow: var(--shadow-light);

		&__side {
			height: auto;
			font-size: 2rem;
			position: relative;
			box-shadow: none;

			&--back {
				transform: rotateY(0);
				-webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
				clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
			}
		}

		&:hover &__side--front {
			transform: rotateY(0);
		}

		&__details {
			padding: 1rem 3rem;
		}

		//BACK SIDE STYLING
		&__cta {
			position: relative;
			top: 0%;
			left: 0%;
			transform: translate(0);
			width: 100%;
			padding: 7em 4rem 4rem 4rem;
		}

		&__price-box {
			margin-bottom: 2rem;
		}

		&__price-value {
			font-size: 6rem;
		}
	}
}
