.cv {
	position: relative;

	margin: 5rem 0;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;

	&__container {
		display: flex;
		justify-content: space-around;
		align-items: center;
		overflow: hidden;
		width: 100%;

		border-radius: 3px;

		@media only screen and (max-width: 28em) {
			flex-direction: column;

			margin: 4rem 0;
		}
	}

	&__left-side {
		width: 30%;
		height: 100%;
		position: relative;

		@media only screen and (max-width: 68em) {
			visibility: hidden;
			width: 0;
			height: 0;
		}
	}

	&__img {
		width: 100rem;
		height: 100%;
		margin-left: -25rem;

		@media only screen and (max-width: 90em) {
			margin-left: -30rem;
		}

		@media only screen and (max-width: 75em) {
			margin-left: -32rem;
		}

		@media only screen and (max-width: 68em) {
			visibility: hidden;
			width: 0;
			height: 0;
		}
	}

	&__logo {
		position: absolute;
		left: 4rem;
		bottom: 0;
		width: 15rem;
		height: 15rem;
		z-index: 1000000;
		fill: white;

		@media only screen and (max-width: 90em) {
			left: 4rem;
			bottom: 0;
			width: 15rem;
			height: 15rem;
		}
	}

	&__right-side {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		padding: 8rem 0;
	}

	&__skills {
		font-size: 1.6rem;

		padding: 0 4rem 4rem 4rem;

		width: 100%;

		@media only screen and (max-width: 28em) {
			text-align: left;
		}
	}

	&__experience {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100%;

		font-size: 1.6rem;
		padding: 4rem 4rem;
	}

	&__education {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100%;

		font-size: 1.6rem;

		padding: 4rem 4rem;
	}
}

.cv-row {
	display: flex;
	justify-content: space-between;

	flex-wrap: wrap;
	width: 100%;

	@media only screen and (max-width: 68.75em) {
		margin-bottom: 1rem;
	}
}

// [class^="col-"] {
// 	float: left;

// 	&:first-child {
// 		margin-right: 2rem;
// 	}
// }

.col-1-of-3 {
	width: 20rem;
}

.col-2-of-3 {
	width: 20rem;
}
