.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	height: 100%;
	width: 100%;

	margin-bottom: 7rem;

	-webkit-clip-path: polygon(0 32%, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 32%, 100% 0, 100% 100%, 0 100%);

	@media only screen and (max-width: 81.88em) {
		-webkit-clip-path: polygon(0 28%, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 28%, 100% 0, 100% 100%, 0 100%);
	}

	@media only screen and (max-width: 68.75em) {
		-webkit-clip-path: polygon(0 24%, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 24%, 100% 0, 100% 100%, 0 100%);
	}

	@media only screen and (max-width: 33.75em) {
		-webkit-clip-path: polygon(0 21%, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 21%, 100% 0, 100% 100%, 0 100%);
	}

	@media only screen and (max-width: 28em) {
		-webkit-clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
		clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
	}

	&__logo {
		width: 10rem;
		height: 10rem;

		margin-top: 20rem;
		@media only screen and (max-width: 28em) {
			margin-top: 6rem;
		}
	}

	&__container {
		display: flex;
		justify-content: space-around;

		flex-wrap: wrap;
		width: 100%;
		font-size: 1.6rem;
	}
}

.contact {
	max-width: 50rem;
	margin: 0 3rem;

	&__text a {
		text-decoration: none;
		color: var(--color-tertiary-dark);
	}

	&__logos {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 2rem;

		&--linkedin {
			height: 6rem;
			width: 6rem;
		}

		&--github {
			height: 10rem;
			width: 10rem;
		}
	}
}

.disclaimer {
	text-align: right;
	max-width: 50rem;
	margin: 0 3rem;

	@media only screen and (max-width: 68.75em) {
		text-align: left;
	}
}
