.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;

	width: 100%;
	height: 100%;
	margin: 5rem 0 10rem 0;

	border-radius: 3px;

	@media only screen and (max-width: 28em) {
		margin-top: 0;
	}

	&__logo {
		width: 10rem;
		height: 10rem;

		margin-top: 8rem;
		@media only screen and (max-width: 28em) {
			margin-top: 6rem;
		}
	}

	&__container {
		display: flex;
		justify-content: space-around;

		flex-wrap: wrap;
		width: 100%;
		font-size: 1.6rem;

		margin-top: 3rem;
		padding-bottom: 8rem;

		@media only screen and (max-width: 68.75em) {
			flex-direction: column;
			align-items: center;
		}
	}
}

.contact {
	max-width: 50rem;
	margin: 0 3rem;

	&__text {
		margin-bottom: 1rem;
	}

	&__text a {
		text-decoration: none;
		color: var(--color-tertiary-dark);
	}

	&__logos {
		&--linkedin {
			height: 3rem;
			width: 3rem;
		}

		&--github {
			height: 5rem;
			width: 5rem;
		}
	}

	@media only screen and (max-width: 68.75em) {
		margin-bottom: 3rem;
	}
}

.disclaimer {
	text-align: right;
	max-width: 50rem;
	margin: 0 3rem;

	@media only screen and (max-width: 68.75em) {
		text-align: left;
		margin-bottom: 6rem;
	}
}
