.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	z-index: 1000;

	background-color: rgba($dark-blue, .9);
	box-shadow: var(--shadow-light);

	&__logo {
		height: 5rem;
		width: 5rem;
		padding: 1rem;

		@media only screen and (max-width: 28em) {
			height: 0rem;
			width: 0rem;
			padding: 0;
		}
	}

	&__empty {
		width: 5rem;
		@media only screen and (max-width: 28em) {
			height: 0rem;
			width: 0rem;
		}
	}

	&__welcome {
		font-size: 2.5rem;
		padding-left: 2rem;
	}

	&__login {
		font-size: 2.5rem;
		margin-left: auto;
		padding-right: 2rem;
	}

	&__nav {
		font-size: 2.5rem;
		padding: 1rem;
	}
}
