.IssueTracker {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.7;
	font-size: 1.6rem !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #212529 !important;
}

.card-footer {
	display: flex;
	justify-content: center;
	margin-bottom: 0 !important;
}

.project {
	&__description {
		margin-bottom: 1rem;
	}

	&__link {
		margin-top: 2rem;
	}
}

.card {
	margin-bottom: 4rem;

	&__description {
		margin-bottom: 1.5rem;
	}

	&__title {
		margin-bottom: 1rem;
	}

	&__status {
		text-align: center;
		width: 20rem;
		font-weight: 600 !important;
	}

	&__severity {
		width: 20rem;
		text-align: center;
		font-weight: 600 !important;
	}

	&__assignedto {
		width: 20rem;
		text-align: center;
	}

	&__details {
		font-size: 1.2rem;

		padding-bottom: 1rem;
		justify-content: flex-end;
	}

	&__edited {
		display: flex;
		display: flex;
		font-size: 1.2rem;

		padding-bottom: 0rem;
		justify-content: flex-end;
	}
}

.btn {
	width: 17rem;

	font-size: 1.2rem !important;
	font-weight: 600 !important;

	&__submit {
		align-self: center;
		margin-top: 1.5rem;
	}
}

.card-header {
	display: flex;
	justify-content: space-between;
	align-content: space-around;
	background-color: rgba(0, 0, 0, .125) !important;
}

.card-body {
	background-color: rgba(0, 0, 0, .03) !important;
}

.container {
	margin-top: 4rem;
}

.navbar-brand {
	align-self: center;
	padding-right: 1rem;
}

.navbar-nav {
	flex-direction: row !important;
	width: 30%;
}

.nav-item:not(:last-child) {
	padding-right: .9rem;
}

.center {
	display: flex;
	justify-content: center;
}

.right {
	display: flex;
	justify-content: flex-end;
}

.left {
	display: flex;
	justify-content: flex-start;
}

.modal-body {
	padding: 2rem !important;
}

.modal-footer {
	justify-content: space-evenly !important;
}

.col {
	display: flex;
	justify-content: center;
	align-items: center;
}

#popover-basic {
	font-size: 1.4rem !important;
}

.issue {
	&__link {
		color: #212529;
		&:hover {
			color: #007bff;
			text-decoration: none;
		}
	}
}

.Comments {
	margin-top: 0;

	&__row:first-child {
		padding-top: 4rem;
		border-top: 1px solid lightgray;
	}
}

h2 {
	margin-bottom: 2rem !important;
	margin-top: 5rem !important;
}

h4 {
	font-weight: bold !important;
}

#nmt {
	margin-top: 0 !important;
}

p {
	margin-bottom: 2rem !important;
}

.form-label {
	font-size: 1.6rem;
}
