.skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: -4rem;

	-webkit-clip-path: polygon(0 14%, 100% 0, 100% 86%, 0 100%);
	clip-path: polygon(0 14%, 100% 0, 100% 86%, 0 100%);

	@media only screen and (max-width: 91.25em) {
		-webkit-clip-path: polygon(0 9%, 100% 0, 100% 91%, 0 100%);
		clip-path: polygon(0 9%, 100% 0, 100% 91%, 0 100%);
	}

	@media only screen and (max-width: 46.06em) {
		-webkit-clip-path: polygon(0 5.5%, 100% 0, 100% 93%, 0 100%);
		clip-path: polygon(0 5.5%, 100% 0, 100% 93%, 0 100%);
	}

	@media only screen and (max-width: 28em) {
		-webkit-clip-path: none;
		clip-path: none;
		margin-top: 4rem;
	}

	&__container {
		text-align: center;
	}

	&__text {
		font-size: 1.6rem;
	}

	&__div {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;

		@media only screen and (max-width: 28em) {
			padding-bottom: 5rem;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 26rem;
		background-color: var(--color-grey-light-1);
		font-size: 1.5rem;
		padding: 2.5rem;
		margin: 2rem 1.5vw;
		text-align: center;
		border-radius: 3px;
		box-shadow: var(--shadow-light);
		transition: transform .3s;

		&--icon {
			height: 10rem;
			width: 10rem;
			margin-bottom: .5rem;
		}

		&--wrap {
			height: 20rem;
			display: flex;
			align-items: center;
		}

		&:hover {
			transform: translateY(-1.5rem) scale(1.05);
		}
	}
}
