.skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	-webkit-clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
	clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);

	&__container {
		text-align: center;
	}

	&__content {
		margin: 8rem 0;
	}

	&__text {
		font-size: 1.6rem;
		margin-bottom: 5rem;
	}

	&__div {
		display: flex;

		flex-wrap: wrap;
		width: 100%;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 26rem;
		background-color: var(--color-grey-light-1);
		font-size: 1.5rem;
		padding: 2.5rem;
		margin: 2rem 2rem;
		text-align: center;
		border-radius: 3px;
		box-shadow: var(--shadow-light);
		transition: transform .3s;

		&--icon {
			height: 10rem;
			width: 10rem;
			margin-bottom: .5rem;
		}

		&--wrap {
			height: 20rem;
			display: flex;
			align-items: center;
		}

		&--text {
		}

		&:hover {
			transform: translateY(-1.5rem) scale(1.05);
		}
	}
}
