.skills {
	display: flex;
	flex-direction: column;

	//align-items: center;

	&__container {
		transform: skewY(7deg);
		text-align: center;
	}

	&__content {
		margin: 8rem 0;
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
	}

	&__text {
		font-size: 1.6rem;
		margin-bottom: 5rem;
	}

	&__div {
		display: flex;
		justify-content: space-between;
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 26rem;
		background-color: var(--color-grey-light-1);
		font-size: 1.5rem;
		padding: 2.5rem;
		margin: 0 2rem;
		text-align: center;
		border-radius: 3px;
		box-shadow: var(--shadow-light);
		transition: transform .3s;

		&--icon {
			height: 10rem;
			width: 10rem;
			margin-bottom: .5rem;
		}

		&--wrap {
			height: 20rem;
			display: flex;
			align-items: center;
		}

		&--text {
		}

		&:hover {
			transform: translateY(-1.5rem) scale(1.05);
		}
	}
}
