.cv-container {
	max-width: 100%;

	padding-top: 10rem;
	background-image: linear-gradient(to right bottom, rgba($dark-blue, .2), rgba($dark-blue, .8));
	box-shadow: var(--shadow-big-blur);

	display: flex;
	justify-content: center;

	@media only screen and (max-width: 28em) {
		padding: 5rem 0;
	}
}

.content-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	max-width: 140rem;
}

.gradient {
	//padding: 20rem 5rem;

	@media only screen and (max-width: 64em) {
		padding: 15rem 5rem;
	}

	@media only screen and (max-width: 28em) {
		padding: 5rem 5rem;
		margin: 5rem 0;
	}
}

.heading-primary {
	font-size: 3.5rem;
	font-weight: 200;
	text-transform: uppercase;
	color: var(--yellow);
}

.heading-tertiary {
	font-size: 2.5rem;
	font-weight: 200;
	text-transform: uppercase;
	color: var(--yellow);
}

.u-margin-bottom {
	margin-bottom: 2rem;
	@media only screen and (max-width: 28em) {
		margin-top: 3rem;
	}
}

.u-margin-bottom-small {
	margin-bottom: 1rem;
	@media only screen and (max-width: 28em) {
		margin-top: 1rem;
	}
}

.u-margin-bottom-big {
	margin-bottom: 5rem;

	@media only screen and (max-width: 28em) {
		margin-top: 0rem;
	}
}

.wrap {
	filter: drop-shadow(0 2rem 2rem rgba(0, 0, 0, .2));
	width: 100%;
	height: auto;
}

.background {
	background-image: linear-gradient(to right bottom, rgba($color-grey-light-1, 1), rgba($color-grey-light-3, 1));
	filter: drop-shadow(0 2rem 2rem rgba(0, 0, 0, .2));
}
